<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar Título</title>
  </head>
  <body>
    <h1>Criar Título</h1>
    <form action="{{ url_for('criar_titulo') }}" method="POST">
      <label for="nome_titulo">Nome do Título:</label>
      <input type="text" id="nome_titulo" name="nome_titulo" required>
      <button type="submit">Criar</button>
    </form>
    <a href="{{ url_for('titulos') }}">Voltar para Lista de Títulos</a>
  </body>
</html>