<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Título</title>
  </head>
  <body>
    <h1>Editar Título</h1>

    <form action="{{ url_for('editar_titulo') }}" method="POST">
      <label for="titulo_id">Escolha um título:</label>
      <select id="titulo_id" name="titulo_id" required>
        <option value="">Selecione um título</option>
        {% for titulo in titulos %}
        <option value="{{ titulo[0] }}">{{ titulo[1] }}</option>
        {% endfor %}
      </select>

      <br><br>

      <label for="novo_nome">Novo Nome:</label>
      <input type="text" id="novo_nome" name="novo_nome" required>

      <br><br>

      <button type="submit">Salvar Alterações</button>
    </form>

    <br>
    <a href="{{ url_for('titulos') }}">Voltar para Lista de Títulos</a>
  </body>
</html>
