<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Localizações</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='localizacoes.css') }}"/>
  </head>
  <body>
    <h1>Localizações Cadastradas</h1>
    <p>Aqui você pode visualizar as localizações cadastradas no sistema.</p>
    <a href="{{ url_for('home') }}" class="button">Voltar</a>
    <div class="center">
      {% for localizacao in localizacoes %}
      <div class="card">
        <div class="additional">
          <div class="user-card">
            <div class="level center">id: {{ localizacao[0] }}</div>
            <div class="points center">{{ localizacao[1] }}</div>
          </div>
          <div class="more-info">
            <div class="coords">
              <p>Região: {{ localizacao[2] }}</p>
            </div>
            <div class="coords">
              <p>Estado: {{ localizacao[3] }}</p>
            </div>
          </div>
        </div>
        <div class="general">
          <h1>{{ localizacao[4] }}</h1>
        </div>
      </div>
      {% endfor %}
    </div>
  </body>
</html>