<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Técnicos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='tecnicos.css') }}"/>
  </head>
  <body>
    <h1>Técnicos Cadastrados</h1>
    <p>Aqui você pode criar, remover, editar e visualizar os técnicos cadastrados no sistema.</p>
    <a href="{{ url_for('criar_titulo') }}" class="button-green">Criar</a>
    <a href="{{ url_for('remover_titulo') }}" class="button-red">Remover</a>
    <a href="{{ url_for('editar_titulo') }}" class="button-yellow">Editar</a>
    <a href="{{ url_for('home') }}" class="button">Voltar</a>
    <div class="center">
      {% for tecnico in tecnicos %}
      <div class="card">
        <div class="additional">
          <div class="user-card">
            <div class="level center">id: {{ tecnico[0] }}</div>
            <div class="points center">{{ tecnico[4] }}</div>
            <img src="{{ tecnico[5] }}" alt="Imagem do tecnico" class="imagem">
          </div>
          <div class="more-info">
            <div class="coords">
              <p>Nome: {{ tecnico[1] }}</p>
            </div>
            <div class="coords">
              <p>Data de Nascimento: {{ tecnico[3] }}</p>
            </div>
            <div class="coords">
              <p>Início do Contrato: {{ tecnico[6] }}</p>
            </div>
            <div class="coords">
              <p>Fim do Contrato: {{ tecnico[7] }}</p>
            </div>
            <div class="coords">
              <p>Cidade de Nascimento: {{ tecnico[8] }}</p>
            </div>
            <div class="coords">
              <p>Time: COLOCAR TIME</p>
            </div>
          </div>
        </div>
        <div class="general">
          <h1>{{ tecnico[2] }}</h1>
        </div>
      </div>
      {% endfor %}
    </div>
  </body>
</html>