<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Títulos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='titulos.css') }}"/>
  </head>
  <body>
    <h1>Títulos Cadastrados</h1>
    <p>Aqui você pode visualizar os títulos cadastrados.</p>
    <a href="{{ url_for('home') }}" class="button">Voltar</a>
    <div class="center">
      {% for titulo in titulos %}
      <div class="card">
        <div class="additional">
          <div class="user-card">
            <div class="level center">id: {{ titulo[0] }}</div>
          </div>
        </div>
        <div class="general">
          <h1>{{ titulo[1] }}</h1>
        </div>
      </div>
      {% endfor %}
    </div>
  </body>
</html>